#slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 220px);
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}
#slider #prev {
  left: 10px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover {
  background-color: rgba(9, 90, 161, 0.6039215686);
  text-shadow: 0;
}
#slider #next {
  right: 10px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #next:hover {
  background-color: rgba(9, 90, 161, 0.6039215686);
  text-shadow: 0;
}

.slide {
  width: 100vw;
  height: calc(100vh - 220px);
  background-image: url(../img/grozny-226.jpg);
  background-size: cover;
  background-position: 50% 20%;
}
.slide .slide_text {
  background-color: rgba(9, 90, 161, 0.8);
  height: 300px;
  width: 1000px;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 0;
  overflow: hidden;
}
.slide .slide_text h3 {
  color: #ffffff;
  margin: 0 50px;
}

html,
body {
  height: 100%;
  font-size: 15px;
}

.swiper {
  width: 100%;
  height: 805px;
}

.swiper-pagination {
  background-color: rgba(255, 255, 255, 0.4784313725);
  display: inline-block;
  padding: 20px;
  width: 160px !important;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  bottom: -10px !important;
  left: 830px !important;
  text-align: center !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide p {
  position: absolute;
  top: 520px;
  left: 675px;
  font-family: "FuturaDemic";
  color: white;
  font-size: 90px;
  background-color: rgba(0, 85, 165, 0.3568627451);
  padding: 15px 30px 15px 30px;
  border-radius: 50px 0px 50px 0px;
}
.swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.swiper-button-next,
swiper-rtl .swiper-button-prev::after {
  margin-top: 100px !important;
  padding: 30px !important;
  border-radius: 50%;
  color: #e4e4e4 !important;
  background-color: rgba(21, 84, 221, 0.3137254902);
}

.swiper-button-prev,
swiper-rtl .swiper-button-next::after {
  margin-top: 100px !important;
  padding: 30px !important;
  border-radius: 50%;
  color: #e4e4e4 !important;
  background-color: rgba(21, 84, 221, 0.3137254902);
}

.gallery {
  margin: 0 0 100px 0;
}
.gallery h2 {
  font-size: 2rem;
  font-family: monospace;
  color: #0959a1;
  text-align: center;
  margin: 40px 0;
}
.gallery .photos {
  display: grid;
  justify-items: center;
  gap: 20px;
  position: relative;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.gallery .photos .gall_img {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  transition: 0.2s;
  position: relative;
}
.gallery .photos .img_text {
  margin: 0;
  height: 300px;
  width: 500px;
  background-color: rgba(9, 90, 161, 0.3215686275);
  border-radius: 10px;
  position: absolute;
  transition: 0.2s;
  opacity: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .photos .img_text:hover {
  opacity: 1;
  transform: scale(1.05, 1.05);
}
.gallery .photos .img_text:hover + .gall_img {
  transform: scale(1.05, 1.05);
}
.gallery .photos .img_text p {
  color: #ffffff;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.5rem;
}