@import 'null-style.scss';
@font-face {
   font-family: 'FuturaDemic';
   src: url('../fonts/futuraDemic/Futurademic.otf');

   font-style: normal;
   font-weight: normal;
}
$colorHead: #2e227a;

.header {
   height: 200px;
   box-shadow: 0px 0px 50px rgb(163, 163, 163);
   position: relative;
   z-index: 2;
   background-image: url('/img/oboi-nebo-svet.jpg');
   background-position: top;
   @media (max-width: 1200px) {
      display: none;
   }
   .header__container {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      
   }
   .header__logo {
      height: 100%;
      display: flex;
      align-items: center;
      img {
         width: 120px;
      }
   }
   .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
      background-color: #0055a598;
      line-height: 50px;
      .menu__list {
         width: 1200px;
         display: flex;
         justify-content: space-evenly;
         font-family: 'FuturaDemic';
         text-transform: uppercase;
         font-size: 16px;
         .menu__link {
            color: rgb(255, 255, 255);
            padding: 15px 62px 16px;
            transition: .2s;
            letter-spacing: 1px;
            width: 70px;
            &:hover {
               letter-spacing: 1px;
               background-color: #1a81e298;
               padding: 15px 62px 16px;
               color: rgb(248, 248, 248);
            }
         }
      }
   }
}
//выпадающее меню//
.dropmenu__main {
   position: absolute;
   background-color: #1a81e298;
   min-width: 145px;
   z-index: 1;

   width: 280px;
   height: 210px;
   justify-content: flex-start;
   flex-direction: column;
   text-align: left;
   display: none;
}

.dropmenu__main .link {
   letter-spacing: 1px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   padding: 0;
   padding-left: 10px;
   border-bottom: 1px solid rgba(255, 255, 255, 0);
   border-top: 1px solid rgba(255, 255, 255, 0);
   transition: .2s;
   &:last-child{
      border-bottom: 1px solid rgba(255, 255, 255, 0);
   }
}

.dropmenu__main .link:hover {
   background-color: #0054a5;
   color: rgb(255, 255, 255);
   border-bottom: 1px solid rgba(255, 255, 255, 0.568);
   border-top: 1px solid rgba(255, 255, 255, 0.568);
}
.hover__main:hover .dropmenu__main {
   display: flex;
}
.hover__club:hover .dropmenu__main {
   display: flex;
}
.hover__command:hover .dropmenu__main {
   display: flex;
}

//мобильная версия
.header__mobile {
   height: 50px;
   box-shadow: 0px 0px 50px rgb(163, 163, 163);
   position: relative;
   z-index: 2;
   background-image: url('/img/back-header.jpg');
   font-family: 'FuturaDemic';
   text-transform: uppercase;
   img {
      width: 40px;
      margin: 0 20px;
      position: absolute;
      right: 0;
      top: 5px;
      transition: .4s;
      &:active {
         transform: rotateZ(180deg);
      }
   }
   a {
      color: #ffffff;
   }
   @media (min-width: 1201px) {
      display: none;
   }
}

.menu__mobile {
   height: calc(100% - 50px);
   width: 100%;
   background-color: #0054a5;
   position: fixed;
   bottom: 0;
   .mobile__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
   }
}